/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 整個版面 */
body {
  font-family: 微軟正黑體; 
  background-image: url('../images/background_img.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment:scroll;
}

.wrap {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 標題+卡片堆半透明區塊 */
.memory_games_total {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 850px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 5%;
  box-shadow:0px 0px 10px rgba(10,10,0.8);
}

/* 標題 */
.title {
  font-size: 50px;
  font-weight: bold;
  padding: 20px 0px;
  margin-top:30px;
  text-align: center;
}

/* 記分板 */
#socopeBoard {
  font-size: 24px;
  font-weight: bold;
}

/* 卡片堆 */
.memory_games{
  width: 680px;
  height: 680px;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
}

/* 卡片 */
.memory_card{
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position:relative;
  transform-style:preserve-3d;
  transition:0.5s all ease;
  box-shadow:0px 0px 5px rgba(10,10,0.1);
  border-radius:10%;
  cursor: pointer;
}

/*front card, back card（卡片前面,後面共用）*/
.card_front,.card_back{
  border-radius:10%;
  position:absolute;
  width:100%;
  height:100%;
  /*hide backface*/
  -webkit-backface-visibility: hidden;
  backface-visibility:hidden;
  font-size:1.5rem;
}

/*front card（卡片前面）*/
.card_front {
  background-color: #ffffff;
  -webkit-transform: rotateY(180deg);
  transform:rotateY(180deg);
}

.card_front i{
    display:block;
    text-align: center;
    padding-top: 30px;
}

.card_front span{
    display:block;
    text-align: center;
    font-weight: bold;;
}

/*back card（卡片後面）*/
.card_back{
  background-color: #accbee;
  -webkit-transform: rotateY(0deg);
  transform:rotateY(0deg);
}

.card_back i {
  display:block;
  text-align: center;
  color:#6EAC7D;
  padding-top: 10px;
}

@media screen and (max-width: 1366px){
  .card_back i {
    padding-top: 0px;
  }
}

.flip {
  -webkit-transform: rotateY(180deg);
  transform:rotateY(180deg);
}

/* 音效圖示  */
.scope_audio_group {
  width: 100%;
  position: relative;
}

.scope_audio_group h2 {
  display: flex;
  justify-content: center;
}

.scope_audio_group i {
  position: absolute;
  right: 20px;
  top: 0px;
  font-size: 24px;
}

/* 彈跳視窗  */

.swal-title {
  margin: 0px;
  font-size: 30px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  background-color: #5290F4;
  color:#ffffff;
}

.swal-title:first-child {
  margin-top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.swal-text {
  padding: 10px 40px 0px 40px;
  line-height: 1.7;
  font-size: 18px;
  
}

.swal-overlay {
  background-color: rgba(255, 255, 255, 0.4);
}

.swal-button {
  padding: 7px 19px;
  border-radius: 5%;
  background-color: #5290F4;
  font-size: 20px;
  border: 2px solid #5290F4;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button:not([disabled]):hover {
  color:#5290F4;
  background-color: #ffffff;
  border: 2px solid #5290F4;
}


/* 手機尺寸  */

@media screen and (max-width: 568px){
  .title {
    margin-top: 10px;
    font-size: 30px;
  }

  #socopeBoard {
    font-size: 20px;
  }

  .memory_games_total {
    height: 480px;
  }

  .memory_games {
    width: 355px;
    height: 355px;
  }

  .card_front i {
    font-size: 2.5em;
    padding-top: 15px;
  }

  .card_front span {
    font-size: 12px;
  }

  .card_back i {
    font-size: 4em;
  }

  .scope_audio_group i {
    font-size: 20px;
  }

  .swal-title, .swal-button {
    font-size: 18px;
  }

  .swal-text {
    font-size: 14px;
    padding: unset;
  }
}
